#Ignore SpecFlow feature.cs files
*.feature.cs
#Approval files skip
*.received.json
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
/build/
*.opensdf
*.tlog
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/failed dashboard tests.playlist
/playlist.playlist
/PerformanceTests
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/testing.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
